// Navbar.
@navbar-height: 40px;

@navbar-default-bg: #1e1e1e;
@navbar-border-radius: 0px;

@navbar-default-brand-hover-color: #ffffff;
@navbar-default-link-color: #dfdfdf;
@navbar-default-link-active-color: #ffffff;
@navbar-default-link-active-bg: #101010;
@navbar-default-link-hover-color: #ffffff;
